body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ead6;
    color: #3e3e3c;
}

header {
    background-color: #5d473a;
    color: #f4f1e3;
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: hsla(40, 76%, 46%, 0.692); 
}

header p {
    margin: 10px 0;
    font-size: 1.1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #f4f1e3;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d1b490;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #474646; 
    font-size: 2em;
}

section {
    margin-bottom: 30px;
}

h3 {
    border-bottom: 3px solid #656e6e; 
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #656e6e; 
    font-size: 1.5em;
}

p, ul {
    font-size: 1.1em;
    line-height: 1.8;
    color: #b49b74;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #5d473a;
    color: #f4f1e3;
    position: relative;
    bottom: 0;
    margin-top: 40px;
}

footer a {
    color: #d1b490;
    text-decoration: none;
    margin: 0 8px;
    transition: text-decoration 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 250px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    main {
        max-width: 90%;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    main {
        max-width: 100%;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

.gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery .enlarge {
    transform: scale(1.5)
}

.sitemap-image {
    width: 100%; 
    max-width: 800px; 
    height: auto;
    margin: 20px auto; 
    display: block; 
}

.wireframe-image{
    width: 100%; 
    max-width: 800px; 
    height: auto;
    margin: 20px auto; 
    display: block; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0ead6;
}

header, footer {
    background-color: #5d473a;
    color: #f4f1e3;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #f4f1e3;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #5d473a;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #d1b490;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5d473a;
    color: #f4f1e3;
}
