<!DOCTYPE html>
<nav>
    <a href="https://webpages.charlotte.edu/spedibho/" target="_blank">My UNC Charlotte Website</a>
    <a href = "itis3135/">Click to go to ITIS3135 Site</a>
    <a href="https://github.com/shyamp1-byte" target="_blank">GitHub</a>
    <a href="shyamp1-byte.github.io" target="_blank">GitHub Pages</a>
    <a href="https://www.freecodecamp.org/shyamPedibhotla" target="_blank">FreeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/shyamPedibhotla0475886770" target="_blank">Codeacademy</a>
    <a href="https://www.linkedin.com/in/shyam-pedibhotla-154a67180/" target="_blank">LinkedIn</a>

<p><a href="pedibhotlaincorporated.co">Pedibhotla Incorporated</a> &copy;2024</p>
    <ul>
        <li><a href="https://validator.w3.org/" target="_blank">HTML Validation</a></li>
        <li><a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS Validation</a></li>
    </ul>
</nav>

