<!DOCTYPE html>
<h1>Shyam Pedibhotla's Speedy Panther || ITIS 3135 || Home</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="tables.html">Table</a></li>
                <li><a href="forms.html">Form</a></li>


            </ul>
        </nav>

        <nav>
            <ul style="list-style-type: none; padding: 0; text-align: center; font-family: Comic Sans MS;">
                <li style="display: inline-block;">
                    <a href="stuff/Awful_Page&Errors.html" style="color: red;">Crappy Webpage</a>
                </li>
            </ul>
        </nav>