<!DOCTYPE html>
<h1>Shyam Pedibhotla's Speedy Panther || ITIS 3135 || Home</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="Awful_Page&Errors_evaluations.html">Website Evaluations</a></li>
                <li><a href="tables.html">Table</a></li>
                <li><a href="forms.html">Form</a></li>
                <li><a href="clientProject/project_overview.html">Project Overview</a></li>
                <li><a href="byo_intro.html">BYO Intro</a></li>
                <li><a href="firstscripts.html">First Scripts</a></li>
                <li><a href="drawing.html">Drawing</a></li>
                <li><a href="stuff/Awful_Page&Errors.html">Crappy Webpage</a></li>
                <li><a href="hobby/index.html">Hobby</a></li>
                <li><a href="clientProject/index.html">Client Website</a></li>

            </ul>
        </nav>

        <nav>
            <ul style="list-style-type: none; padding: 0; text-align: center; font-family: Comic Sans MS;">
                <li style="display: inline-block;">
                </li>
            </ul>
        </nav>